<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Neuer Trade</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('startseite')}}">Startseite</a>
        <a href="{{ url_for('trades')}}">Trades</a>
        <a href="{{ url_for('uebersicht')}}">Übersicht</a>
    </nav>
    <h1>Neuer Trade</h1>

    <form action="/trades" method="POST">
        <div>
            <label for="item-name">Itemname:</label>
            <input type="text" name="item-name" id="item-name">
        </div>
        <div>
            <label for="item-type">Kategorie:</label>
            <input type="text" name="item-type" id="item-type">
        </div>
        <div>
            <label for="purchase-item-quantity">EK-Anzahl:</label>
            <input type="number" name="item-quantity" id="item-quantity">
        </div>
        <div>
            <label for="item-purchase-price-per-unit">EK-Einzelpreis:</label>
            <input type="number" name="item-purchase-price-per-unit" id="item-purchase-price-per-unit">
        </div>
        <div>
            <label for="item-purchase-price-for-all">EK-Gesamtpreis:</label>
            <input type="number" name="item-purchase-price-for-all" id="item-purchase-price-for-all">
        </div>
        <div>
            <label for="selling-item-stack-quantity">VK-Anzahl (Stackgröße):</label>
            <input type="number" name="selling-item-stack-quantity" id="selling-item-stack-quantity">
        </div>
        <div>
            <label for="item-selling-price-per-unit">VK-Einzelpreis:</label>
            <input type="number" name="item-selling-price-per-unit" id="item-selling-price-per-unit">
        </div>
        <div>
            <label for="item-selling-price-per-stack">VK-Stackpreis</label>
            <input type="number" name="item-selling-price-per-stack" id="item-selling-price-per-stack">
        </div>
        <div>
            <label for="item-selling-price-for-all">VK-Gesamtpreis:</label>
            <input type="number" name="item-selling-price-for-all" id="item-selling-price-for-all">
        </div>
        <div>
            <button type="submit">Eintragen</button>
        </div>
    </form>
</body>
</html>
