<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Übersicht</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('startseite')}}">Startseite</a>
        <a href="{{ url_for('trades')}}">Trades</a>
        <a href="{{ url_for('uebersicht')}}">Übersicht</a>
    </nav>
    <h1>Übersicht</h1>

    <table>
        <thead>
            <tr>
                <th>Datum</th>
                <th>Itemname</th>
                <th>Kategorie</th>
                <th>Anzahl</th>
                <th>EK-Einzelpreis</th>
                <th>EK-Gesamtpreis</th>
                <th>VK-Anzahl (Stackgröße)</th>
                <th>VK-Einzelpreis</th>
                <th>VK-Stackpreis</th>
                <th>VK-Gesamtpreis</th>
            </tr>
        </thead>
        <tbody>
            {% for eintrag in eintraege %}
            <tr>
                <td>{{ eintrag.date.strftime("%d.%m.%Y") }}</td>
                <td>{{ eintrag.item_name }}</td>
                <td>{{ eintrag.item_type }}</td>
                <td>{{ eintrag.item_quantity }}</td>
                <td>{{ eintrag.purchase_price_per_unit }}</td>
                <td>{{ eintrag.purchase_price_for_all }}</td>
                <td>{{ eintrag.selling_item_stack_quantity }}</td>
                <td>{{ eintrag.selling_price_per_unit }}</td>
                <td>{{ eintrag.selling_price_per_stack }}</td>
                <td>{{ eintrag.selling_price_for_all }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
